<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin-layout/admin-layout::main-fragment(
												~{::title},
												~{:: #static-resources},
                                                ~{:: #header},
                                                ~{:: #nav},
                                                ~{:: #main-content},  
                                                ~{:: #footer}
                                               )}">
<head>

<title>Thêm thành tích</title>
</head>
<body>
	<div id="main-content">
		<form action="#" th:action ="@{/themthanhtich}" method ="post" th:object="${thanhtich}">
			<table>
			<tr>
			<td>Mã nhân viên</td>
			<td><input type="text" th:field="*{manv}" readonly="readonly"></td>
			
			</tr>
			<tr>
			<td>Loại</td>
			<td><select th:field="*{loai}">
				<option th:value="1">Khen thưởng</option>
				<option th:value="0">Kỉ luất</option>
			</select></td>
			</tr>
			<tr>
			<td>Lí do</td>
			<td>
				<input type="text"  th:field="*{lydo}">
			</td>
			</tr>
			<tr>
			<td>Ngày ghi nhận</td>
			<td><input type="date" th:field="*{ngayghinhan}"></td>
			</tr>
			<tr><td></td><td><input type="submit" value="thêm"></td></tr>
			</table>
		</form>
	</div>
</body>
</html>