<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http use-expressions="true">
		<intercept-url pattern="/login*" access="permitAll" />
		<intercept-url pattern="/**" access="isAuthenticated()" />

		<form-login login-page='/login'
			authentication-failure-url="/login.html?error=true"
			authentication-success-handler-ref="myAuthenticationSuccessHandler" />
		<logout delete-cookies="JSESSIONID" />
		<remember-me key="uniqueAndSecret" />
	</http>

	<beans:bean id="myAuthenticationSuccessHandler"
		class="ivs.thai.security.config.MySimpleUrlAuthenticationSuccessHandler" />

	<authentication-manager
		id="authenticationManager">
		<authentication-provider>
		<password-encoder hash="bcrypt" />
			<user-service>
				<user name="user1" password="{noop}user1Pass"
					authorities="ROLE_USER" />
				<user name="admin1" password="{noop}admin1Pass"
					authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>